@define-color main #ebdbb2;

* {
  font-family: "JetBrainsMonoNerdFontMono";
  font-weight: bold;
  min-height: 0;
  font-size: 102%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  transition-property: all;
  transition-duration: 0.3s;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

tooltip {
  background: alpha(#fff, 0.05);
  border-radius: 10px;
}

tooltip label {
  padding: 10px;
  color: @main;
}

#idle_inhibitor,
#custom-cava,
#custom-wireguard,
#clock,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#workspaces,
#custom-os,
#battery,
#custom-swaync {
  background: alpha(#fff, 0.05);
  border-radius: 6px;
  color: @main;
  font-weight: 600;
  padding: 2.5px 12px;
  margin: 4px 0 4px 0;
  border: 1px solid alpha(#fff, 0.05);
}


#custom-os,
#workspaces, 
#clock,
#custom-cava,
#mpris {
  margin-right: 4px;
}

#idle_inhibitor,
#custom-swaync,
#pulseaudio,
#cpu,
#memory
#temperature,
#network,
#custom-wireguard,
#battery {
  margin-left: 4px;
}

#cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
  border-right: none;
}

#memory {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  border-left: none;
}

#clock {
  font-weight: 600;
}

#custom-swaync {
  margin-right: 10px;
  margin-right: 10px;
  padding-right: 18px;
}

#window {
  color: @main;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 12px;
}

#workspaces {
  font-weight: Bold;
  padding-left: 3.5px;
  padding-right: 3.5px;
}

/* Center Icon */
#custom-os,
#custom-wireguard,
#network,
#idle_inhibitor {
  padding-left: 10px; padding-right: 14px;
}

/* Most left Item */
#custom-os {
  margin-left: 10px;
}

#workspaces button {
  margin: 1px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 12px;
  padding-left: 4px;
  padding-right: 9px;
  color: @main;
  transition-property: all;
  transition-duration: 0.3s;
}

#workspaces button.focused {
  background-color: alpha(@main, 0.3);
  transition-property: all;
  transition-duration: 0.3s;
}

#temperature.critical {
  background-color: red;
}

#battery.good {
  color: #ebdbb2;
}

#battery.warning {
  color: #eed49f;
}

#battery.critical {
  color: #ee99a0;
}

#battery.charging,
#battery.plugged {
  color: #a6da95;
}
